* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(181, 181, 181);
    width: 100%;
    display: grid;
    place-items: center;
}

.plot-con {
    background-color: rgb(150, 118, 74);
    height: 100vh;
    width: 80%;
}